@import url("https://fonts.googleapis.com/css2?family=Playball&family=Prompt:wght@400;500;700&family=Proza+Libre:wght@400;700&display=swap");

body {
	font-family: "Prompt", sans-serif;
	overflow-x: hidden;
}

.Playball {
	font-family: "Playball", cursive;
}

.Proza {
	font-family: "Proza Libre", sans-serif;
}

.banner_container {
	background-image: url("./images/header-bg.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.burger_menu {
	padding: 20px 0;
	background: #121111;
	background-image: url("./images/burger-menu-2.png");
	background-repeat: no-repeat;
	background-position: right;
	background-size: 50%;
}
.snacks_menu {
	padding: 20px 0;
	background: #232323;
	background-image: url("./images/snacks-menu.png");
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 50%;
}
.beveraze_menu {
	padding: 20px 0;
	background: #39393a;
	background-image: url("./images/beveraze-menu.png");
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 50%;
}

.Burger,
.Snacks {
	background: #000000;
	padding: 20px 0;
}
